# Temporarily Hidden

# Python virtual environment
.venv/

# Logs
logs/

# Pycache
__pycache__/
*.pyc
.pytest_cache

# Python package metadata/build artifacts
*.egg-info/

# test notebook
notebooks/test.ipynb

# cloud db url + cloudflare keys
.env.dev
.env.prod

# data folder (stored in Cloudflare R2)
data/

# ml model
model/data
model/*.ipynb
model/*.keras