# Temporarily Hidden

# Python virtual environment
.venv/

# Logs
logs/

# Pycache
__pycache__/
*.pyc
.pytest_cache

# Python package metadata/build artifacts
*.egg-info/

# test notebook
notebooks/test.ipynb

# cloud db url + cloudflare keys
.env.dev
.env.prod

# ml model
model/data
model/*.ipynb
model/*.keras

# vscode
.vscode

# prod to dev migration
scripts/r2_migration.py

#terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfvars
terraform/.terraform.lock.hcl