# Temporarily Hidden

# Python virtual environment
.venv/

# Logs
logs/

# Pycache
__pycache__/
*.pyc
.pytest_cache

# Python package metadata/build artifacts
*.egg-info/

# test notebook
notebooks/test.ipynb

# cloud db url
.env

# backup raw data
data/raw_backup

# ml model
model/data
model/*.ipynb